.s-hero {
    background-image: url('../assets/img-bg.png');
    background-repeat:  no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 70.0rem;
    padding-top: 14rem;
    .container {
        
        .info {
            padding-bottom: 13.8rem;
            width: 100%;
            max-width: 74rem;
            .now {
                display: flex;
                align-items: center;
                margin-bottom: 3.4rem;
                span {
                    font-weight: 500;
                    font-size: 1.3rem;
                    line-height: 16px;
                    color: $brand-white;
                    background-color:#006D8F;
                    padding: 0.6rem 1.1rem;
                    border-radius: 120px;
                }
                a {
                    margin-left: 1.2rem;
                    font-weight: 500;
                    font-size: 1.5rem;
                    line-height: 150%;
                    color: rgba(255, 255, 255, 0.7);
                }
            }
            h1 {
                width: 100%;
                max-width: 67.5rem;
                color: $brand-white;
                margin-bottom: 2.4rem;
            }
            p {
                width: 100%;
                max-width: 36.5rem;
                font-weight: 500;
                font-size: 1.8rem;
                line-height: 150%;
                color: rgba(255, 255, 255, 0.7);
                margin-bottom: 4rem ;
            }
        }

        @include responsive(768px) {
            .info {
                text-align: center;
                margin: 0 auto;
                @include flex(column, center, center);
            }
        }  
       
        @include responsive(368px) {
            .s-hero {
                height: 6rem;
                .info {
                    .now {
                        a {
                            font-size: 1.2rem;
                        }
                    }
                    h1 {
                        max-width: 100%;
                        font-size: 3rem;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    @include responsive(800px) {
        background: #242424;
        height: 53rem;
            .container {
            .info {
                h1 {
                    font-size: 4rem;
                }
                span {
                    display: none;
                }
            }
            }
        }  
    @include responsive(468px) {
                height: 64rem;
                .container {
                    .info {
                        .now {
                            margin-bottom: 1.2rem;
                        }
                        h1 {
                            max-width: 36.6rem;
                            margin-bottom: 1.6rem;
                            font-size: 4rem;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            } 
    }  

.s-tarifas {
    padding-top: 9.6rem;
    padding-bottom: 8.1rem;
    .container {
        @include flex(row, center, space-between);
        .title {
            margin-bottom: 10rem;
            span {
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 2.8rem;
                line-height: 130%;
                color: $brand-gray;
                margin-top: 0.8rem;
            }
        }
        .all-cards {
            @include flex(row, center, space-between);
            width: 100%;
            max-width: 60.3rem;
            flex-wrap: wrap;
            .card {
                width: 100%;
                max-width: 25.9rem;
                margin-bottom: 6.8rem;
                .icon {
                    position: relative;
                    &:before {
                        content: "";
                        width: 1.5rem;
                        height: 0.2rem;
                        position: absolute;
                        background-image: url('../assets/barra.svg');
                        top:  3.3rem;
                        left: 0;
                        bottom: 0;
                        right: 0;
                    }
                }
                h4 {
                    margin-top: 1.6rem;
                    width: 100%;
                    max-width: 22.7rem;
                }
                p {
                    width: 100%;
                    max-width: 25.9rem;
                    margin-top: 0.8rem;
                    line-height: 150%;
                    color: $brand-gray;
                }
            }
        }
        .image {
            margin-top: -13rem;
        }
    }
    @include responsive(1024px) {
        .container {
            @include flex(column, center, center);
            .title {
                text-align: center;
                margin: 0 auto;
                margin-bottom: 6rem;
            }
            .image {
                display: none;
            }
        }
    }
    @include responsive(468px) {
        .container {
            .all-cards {
                @include flex(column, center, center);
                .card {
                    .icon {
                        text-align: center;
                        &:before {
                            left: 47%;
                        }
                    }
                    margin: 3rem auto;
                    h4 {
                        text-align: center;
                        max-width: 100%;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
            
        }
    }
}

.s-business{
    padding-top: 10.9rem;
    padding-bottom: 13.4rem;
    .container {
        .top {
            @include flex(row, center, space-between);
            padding-bottom: 6.3rem;
            .titles {
                span {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 2.8rem;
                    line-height: 130%;
                    color: $brand-gray;
                    margin-top: 0.8rem;
                }
            }
            .buttons {
                border: 2px solid #C4C4C4;
                border-radius: 120px;
                padding: 2.2rem 0px;
                a {
                    font-family: 'Montserrat', sans-serif;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    color: $brand-gray;
                    margin-right: 6.3rem;
                    &.black {
                        background-color: $brand-black;
                        padding: 1.8rem 8.5rem;
                        border-radius: 120px;
                        color: $brand-white;
                        margin-left: 0.9rem;
                    }
                }
            }
        }
        .card-info {
            width: 100%;
            max-width: 121.6rem;
            height: 42.4rem;

            background: linear-gradient(98.6deg, #020302 7.61%, #242424 96.26%);
            border-radius: 12px;
            @include flex(row, center, space-between);
            .info {
                margin-left: 10.3rem;
                h3 {
                    width: 100%;
                    max-width: 23rem;
                    margin-bottom: 1.6rem;
                    color: $brand-white;
                }
                p {
                    line-height: 150%;
                    max-width: 34.1rem;
                    color: #FFFFFF;
                    opacity: 0.7;
                    margin-bottom: 4.4rem;
                }
                .aproximacao {
                    display: flex;
                    align-items: center;
                    .icon {
                        background-color: $brand-white;
                        width: 3.2rem;
                        height: 3.2rem;
                        border-radius: 50%;
                        @include flex(row, center, center);
                    }
                    span {
                        font-weight: 500;
                        font-size: 1.4rem;
                        line-height: 150%;
                        color: #FAFAFA;
                        margin-left: 1.6rem;
                    }
                }
            }
            .image {
                width: 100%;
                max-width: 55.9rem;
                position: relative;
                img {
                    position: absolute;
                    &.cartao-black {
                    flex: 1;
                    top: -29.9rem;
                    right: 17rem;
                }
                    &.mockup {
                    top: -14.3rem;
                    right: 13.6rem;
                }
                &.footer {
                    top: 15.5rem;
                    right: 7.3rem;
                }
                }
            }
        }
    }
    @include responsive(1112px) {
        .container {
            .top {
                flex-direction: column;
                .titles {
                    margin-bottom: 4rem;
                }
                .buttons {
                    margin-bottom: 6rem;
                }
            }
        }
    }
    @include responsive(968px) {
        padding-top: 2.9rem;
        padding-bottom: 5.4rem;
        .container {
            .card-info {
                height: 74.4rem;
                flex-direction: column;
                .info {
                    @include flex(column, center, center);
                    margin-left: 0;
                    text-align: center;
                    margin-top: 4rem;
                   h3,
                   p {
                       max-width: 50%;
                   }
                   p {
                       margin-bottom: 1.4rem;
                   }
                }
                .image {
                    img {
                        &.cartao-black {
                            top: -49.9rem;
                            right: 14rem;
                        }
                        &.mockup {
                            top: -35.3rem;
                            right: 8.6rem;
                        }
                        &.footer {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @include responsive(768px) {
        .container {
            .top {
                .buttons {
                    a {
                        margin-right: 5.3rem;
                    }
                }
            }
            .card-info {
                .image {
                    img {
                        &.cartao-black {
                            right: 9rem;
                        }
                        &.mockup {
                            top: -38.3rem;
                            right: 3.6rem;
                        }
                    }
                }
            }
        }
    }
    @include responsive(468px) {
        .container {
            .top {
                .titles {
                    h2 {
                        font-size: 3.5rem;
                    }
                }
                .buttons {
                    a {
                        margin-right: 2rem;
                        &.black {
                            padding: 1.8rem 2.5rem;
                        }
                    }
                }
            }
            .card-info {
                .info {
                    h3 {
                        max-width: 20.3rem;
                        font-size: 2.2rem;
                    }
                    p {
                        max-width: 30.7rem;
                    }
                }
                .image {
                    img {
                        &.mockup {
                            top: -29.3rem;
                        }
                        &.cartao-black {
                            top: -41.9rem;
                            right: 3rem;
                        }
                    }
                }
            }
        }
    }
    @include responsive(375px) {
        .container {
            .top {
                .titles {
                    h2 {
                        font-size: 3rem;
                        text-align: center;
                    }
                    span {
                        font-size: 2.5rem;
                    }
                }
                .buttons {
                    margin-bottom: 2rem;
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
            .card-info {
                height: 59.4rem;
                
                .image {
                    img {
                        &.mockup {
                            top: -23.5rem;
                             right: 1.6rem;
                        }
                        &.cartao-black {
                            top: -34.9rem;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    @include responsive(360px) {

        .container {
            .top {
                .buttons {
                    margin-bottom: 2rem;
                    a {
                        margin-right: 2.3rem;
                    }
                }
            }
            .card-info {
                height: 59.4rem;
                
                .image {
                    img {
                        &.mockup {
                            top: -22.5rem;
                        }
                        &.cartao-black {
                            top: -34.9rem;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}